.side{
    float: left;
    height: 100vh;
    width: 500px;
    display: flex;   
}

.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
}

label{
    display: flex;
    gap: 25px;
}

input::placeholder{
    padding:0px;
    margin:0px;
    text-align: center;
}