*{
    font-family: 'Oswald', sans-serif;
}
:root{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0;
    padding: 0;
}
.topBar{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #cbff8c;
    width: 100vw;
    margin: 0;
}
.left{
    padding-left: 30px;
    font-size: xx-large;
    font-weight: bolder;
}

.formContainer{
    display: none;
    position: absolute;
    width: 100vw;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}
.formContainer > form > fieldset > button{
    margin-top: 30px;
    width: 100px;
    background-color: #58cc02;
    box-shadow: 0 5px 0 #58a700; 
    color: white;
    border: none;
    font-size: large;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.formContainer > form > fieldset > button:active, #new-book-button:active{
    box-shadow: none;
    transform: translateY(5px);
}
/* Form display options */
form{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #03b5aa;
    width: 300px;
    padding: 50px;
    border-radius: 10px;
}

form > fieldset{
    border: none;
}

input, label{
    display: block;
    width: 100%;
}
input{
    height: 30px;
}

input[type=checkbox]{
    width: 6%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


label{
    margin-top: 10px;
}

label{
    padding-top: 10px;
    text-transform: uppercase;
    font-size: medium;
    color: white;
    font-weight: bolder;
}

.newBook{
    display: flex;
    margin-top: 30px;
    width: 100vw;
    justify-content: center;
    font-size: xx-large;
    
}
.newBook > a { 
    all: unset;
    cursor: pointer;
}

#new-book-button{
    display: flex;
    gap: 3px;
    padding: 15px;
    background-color: #ffd43b;
    box-shadow: 0 5px 0 #183153; 
    color: #183153;
    border: none;
    font-size: large;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.books-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.book{
    background-color: #cbff8c;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
}
.icon{
    margin-top: 50px;
    align-self: center;
}

.book-info{
}